body {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  min-height: 700px;
}
h1 {
  color: #e93e69;
  line-height: 28px;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  line-height: 19px;
  margin: 0;
  padding: 0;
  margin-left: -25px;
}
footer {
  margin-left: 420px;
  font-size: 12px;
  margin-top: -15px;
}
hr {
  color: black;
}
